@mixin grid($col) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    grid-gap: 32px 26px;
    margin-top: 62px;

    a:hover {
        transform: scale(1.02);
        transition: all ease-in-out 0.2s;
    }
}

@mixin headings($font-size, $font-weight, $color, $letter-spacing) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    letter-spacing: $letter-spacing;
    padding:0 20px;
}

@mixin paragraphs($width,$font-size,$font-weight,$letter-spacing,$color,$margin-top) {
    width: $width;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    color: $color;
    margin-top: $margin-top;
    padding: 0 20px;
}

@mixin breakpoint($point) {
    @if $point == xl {
        @media screen and (max-width: 1330px) {@content;}
    }

    @else if $point == lg {
        @media screen and (max-width: 1100px) {@content;}
    }

    @else if $point == md {
        @media screen and (max-width: 820px) {@content;}
    }

    @else if $point == sm {
        @media screen and (max-width: 600px) {@content;}
    }
}