$light-color: #f5a623;
$dark-color: #342c2c;
$cars-bg:rgba(227, 227, 227, 0.73);
$heading:#000000;
$sub-heading:#696969;
$input:#646464;
$border: #9797974A;

$reg:400;
$med:500;
$s-bold:600;
$bold:700;
