header {
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 40px;

    a {
        display: flex;
        align-items: center;

    }

    @include bp(md){
        a {
            justify-content: center;
        }
    }
}