@import "sass/abstracts/variables";
@import 'sass/abstracts/mixins';

@import 'sass/base/reset';
@import 'sass/base/helpers';
@import 'sass/base/fonts';
@import 'sass/base/base';
@import 'sass/base/typography';

@import 'sass/layout/header';
@import 'sass/layout/footer';


@import 'sass/components/buttons';
// @import 'sass/components/models';


/* hero *****************************************************/

.hero {
    background: url(images/hero-bg.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height:600px;

    .hero__container {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin-top: 100px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0px);

        h1 {
            @include headings(54px,$s-bold,white,0);
        }

        p {
            @include paragraphs(inline-block,655px,20px,$med,1.12px,white,4px);
        }

        form {
            margin-top: 22px;
            :nth-child(1) {
                @include input(307px,51px);
            }
            :nth-child(2) {
                @include input(142px,51px);
                border-left:1px solid $border;
            }
            button {
                @include btn-dark;
            }

        }

        img {
            display: none;
        }
    }

}

/* hero *****************************************************/

/* deals *****************************************************/

.deals {

    padding: 80px 0 80px 0;

    h2 {
        @include headings(30px,$s-bold,#000000,0.06px);
        // text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    }

    &>p {
        @include paragraphs(block,auto,20px,$reg,0,$sub-heading,15px);
    }

    .container {
        @include grid(4);

        p {
            @include paragraphs(block,auto,24px,$s-bold,0.05px,$heading,7px);
        }

    }

    img {
        background-color: $cars-bg;
        border-radius: 4px;
        padding: 10px 27px;
        width: 100%;
    }

    .btn {
        @include btn-light;
    }
}

/* deals *****************************************************/




/* tips *****************************************************/
.tips {

    padding-bottom: 80px;

    h3 {
        @include headings(30px,$s-bold,$heading,0.06px);
    }

    &>p {
        @include paragraphs(block,auto,20px,$reg,0,$sub-heading,15px);
    }


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        p {
            @include paragraphs(block,auto,24px,$bold,0.05px,white,auto);
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 22px;
        }
    }



    .tip-1 {
        background: url(images/rectangle-1.png) no-repeat center;

    }

    .tip-2 {
        background: url(images/rectangle-2.png) no-repeat center;

    }

    .tip-3 {
        background: url(images/rectangle-3.png) no-repeat center;
    }

    .tip-1,
    .tip-2,
    .tip-3 {
        position: relative;
        width: 400px;
        height: 200px;
    }

    .btn {
       @include btn-light;
    }
}

/* tips *****************************************************/



/* message *****************************************************/
.message {
    background: url(images/yellow-bg.png) no-repeat center;
    background-size: cover;
    padding: 70px 0 80px 0;

    h4 {
        @include headings(40px,$s-bold,white,0.12);
    }

    p {
        @include paragraphs(block,auto,20px,$med,0,white,15px);
    }

    form {
        width: 591px;
        margin: 41px auto 0 auto;

        input {
            @include input(449px,51px);
        }

        button {
            @include btn-dark;
        }
    }
}

/* message *****************************************************/



/* media queries *********************************************/

@media screen and (max-width: 1330px) {

    .deals {
        .container {
            grid-template-columns: 1fr 1fr;
            // padding: 0 30px;
            width: 95%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .tips {
        .container {
            width: 95%;

            p {
                font-size: 20px;
            }

            .tip-1,
            .tip-2,
            .tip-3 {
                background-size: cover;
            }

            .tip-2 {
                margin: 15px;
            }

        }

    }


    footer {
        .container {
            padding: 0 30px;
        }

    }
}


@media screen and (max-width:1100px) {
    .tips {
        .container {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 850px) {

    header {
        .container {
            text-align: center;
        }
    }
}


@media screen and (max-width: 800px) {

    .hero {
        background: url(images/yellow-bg.png) no-repeat center;
        background-size: cover;
        height: 100vh;

        .hero__container {
            height: 93%;
            justify-content: space-evenly;


            h1 {
                font-size: 30px;
                width: 90%;
            }

            p {
                margin-top: 0;
                width: 90%;
            }

            form {
                margin-top:0;
                width: 95%;
                display: flex;
                flex-direction: column;

                :nth-child(1) {
                    width: 100%;
                    font-size: 13px;
                    height: 40px;

                }

                :nth-child(2) {
                    width: 100%;
                    font-size: 13px;
                    height: 40px;
                    border-left: none;
                    border-top: 1px solid $border;

                }

                button {
                    // width: 100%;
                    margin: 15px auto 0 auto;
                    font-size: 13px;
                    height: 40px;
                    padding: 0;
                }

            }

            img {
                margin-top: 30px;
                display: inline-block;
                width: 70%;   
            }

        }
    }

    .message {
        form {

            width: 95%;
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                height: 40px;
            }

            button {
                // width: 100%;
                margin: 15px auto 0 auto;
                height: 40px;
                padding: 0;
            }

        }
    }
}

@media screen and (max-width: 600px) {

    .hero {
        .hero__container {

            h1 {
                font-size: 26px;
            }
            p{
                font-size: 16px;
            }

            img{
                margin-top:0;
            }

           
        }
    }


    .deals {

        h2 {
            font-size: 28px;
        }
    
        p {
            font-size: 16px;
        }

        h2 {
            margin: 0 auto;
            width: 90%;
        }

        p {
            margin: 15px auto 0 auto;
            width: 90%;
        }

        .container {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }

    .tips {

        h3 {
            font-size: 28px;
           
        }
    
        p {
            font-size: 16px;
        }

        h3 {
            margin: 0 auto;
            width: 90%;
        }

        p {
            margin: 15px auto 0 auto;
            width: 90%;
        }


        .container {
            p {
                font-size: 20px;

            }
        }

        .tip-1,
        .tip-2,
        .tip-3 {
            width: 100%;
        }
    }



    .message{

        h4 {
            font-size: 30px;
           
        }
    
        p {
            font-size: 16px;
        }

        h4,
        >p {
            margin: 15px auto 0 auto;
            width: 90%;
        }
    }

    footer {
        .container {
            flex-direction: column;

            nav {
                width: 95%;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;

                a {
                    margin: 0;
                    font-size: 13px;
                }
           
            }
        }
    }



}





/* media queries *********************************************/