.deals {
    .cars {
        background-color: $secondary-color-1;
        border-radius: 4px;
        padding: 10px 27px;
        width: 100%;
    }

    p {
        @include paragraphs(auto, 24px, $s-bold, 0.05px, $secondary-color-2, 7px);
    }
}