html,
body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


h1 {
    @include headings(54px, $s-bold, white, 0);

    @include bp(md) {
        font-size: 35px;
        width: 90%;
    }

    @include bp(sm) {
        font-size: 28px;
    }
}

h2 {
    @include headings(30px, $s-bold, $secondary-color-2, 0.06px);

    @include bp(sm) {
        font-size: 26px;
        margin: 0 auto;
        width: 90%;
    }
}

h3 {
    @include headings(30px, $s-bold, $secondary-color-2, 0.06px);

    @include bp(sm) {
        font-size: 26px;
        margin: 0 auto;
        width: 90%;
    }
}

h4 {
    @include headings(40px, $s-bold, white, 0.12);

    @include bp(sm) {
        font-size: 26px;
    }
}

.subtitle-1 {
    @include paragraphs(655px, 20px, $med, 1.12px, white, 4px);

    @include bp(md) {
        font-size: 18px;
        width: 100%;
    }

    @include bp(sm) {
        font-size: 16px;
        margin-top: 15px;
    }
}

.subtitle-2 {
    @include paragraphs(100%, 20px, $med, 1.12px, $secondary-color-3, 15px);

    @include bp(md) {
        font-size: 16px;
        width: 100%;
    }
}
